/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

/* Navigation bar */

header .navbar-brand {
    padding-left: 1rem;
}

header .nav-item:last-child {
    padding-right: 1rem;
}

header .nav-item {
    padding: 0.5rem;
}

.navbar {
    font-family: 'Raleway', sans-serif;
}

/* Body */
body {
    font-family: 'Releway', sans-serif;
    font-weight: 200;
    color: #000000;
    background-color: #fff;
}


h1, h2, h3, p {
    font-family: 'Raleway', sans-serif;
}

/* Section hero-outer */


#hero-image {
    background: url(/assets/images/beluga.PNG) no-repeat center center;
    height: 700px;
    width:100%;
}

#cover-text {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: small;
   
}