/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

/*Navigation bar*/

header .navbar-brand {
    padding-left: 1rem;
}

header .nav-item:last-child {
    padding-right: 1rem;
}

header .nav-item {
    padding: 0.5rem;
}