/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
}

/* Navigation bar */

header .navbar-brand {
    padding-left: 1rem;
}

header .nav-item:last-child {
    padding-right: 1rem;
}

header .nav-item {
    padding: 0.5rem;
}

.navbar {
    font-family: 'Raleway', sans-serif;
}

.navbar-dark {
    background-color: #000000;
}

/* Body */

body {
    font-family: 'Releway', sans-serif;
    font-weight: 200;
    color: #000000;
    background-color: #fff;
}


h1, h2, h3, h4, h5, h6, p {
    font-family: 'Raleway', sans-serif;
}

/* Logo and welcome section  */

#hero-image {
    background: url(../images/beluga.PNG) no-repeat center center;
    height: 400px;
    width:100%;
}

#cover-text {
    background-color: #000000;
    padding: 11%;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: small;
    letter-spacing: 0.5rem;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.20);
}



/*Landing Section bar-wrapper */

#bar-wrapper {
    background: url(../images/quiet-bar.jpg) no-repeat fixed;
    background-size: cover;
    height: 900px;
    width: 100%;
    position: relative;
}

#box-wrapper {
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 1px;
    width: 100%;
    padding: 20px;
    font-size: large;
    background-color: rgb(0, 0, 0 ,0.6);
}

/* About section */

#about {
    margin: 30px;
    border: 2px solid black;
    padding: 10%;
}

#about-container > h1 {
    letter-spacing: 1rem;
    font-weight: bold;
    text-shadow: 4px 1px 2px rgba(0, 0, 0, 0.50);
 }

 #about-container > p {
    font-size: 200;
    font-weight: bold;
    margin-bottom: -20px;
    text-transform: uppercase;
}

#about-container > p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Master-class section */

.banner {
    width: 100%;
    height: 900px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/bartender-pouring-a-drink.webp);
    background-size: cover;
    background-position: center;
    animation-name: banner;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-direction: alternate-reverse;
    animation-play-state: running;
}

/* Banner keyframes */
@keyframes banner {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1);
    }
}

/* Banner text keyframes */
@keyframes bannertext {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1);
    }
}

/* Banner content */

.bannertext{
    width: 100%;
    transform: translateY(-200%);
    text-align: center;
    color: #fff;
    top: 500px;
    font-size: large;
    animation-name: bannertext;
}

.bannertext p {
    text-transform: uppercase;
    font-size: small;
}

/* Button book now */

.book-now {
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 15px 80px;
    text-align: center;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 1rem;
    display: grid;
    cursor: pointer;
    border: 2px solid black;
    font-family: 'Raleway', sans-serif; 
}

.book-now:hover {
    background-color: #000000;
    color: #fff;
}


/* Events section */

.container-fluid .eventbox {
    letter-spacing: 0.5rem;
    font-weight: bold;
    text-shadow: 4px 1px 2px rgba(0, 0, 0, 0.50);
}

/* Opening hours section */

#opening{
   padding: 3rem 3rem;
   background-color: #000000;
}

#opening div{
    text-align: center;
    color: #fff;
}

#opening h1 {
    letter-spacing: 0.5rem;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255)
}

#opening h3 {
    font-size: 18px;
}

/* Gallery */

.carousel {
    height: 100vh;
    width: 100%;
    overflow:hidden;
}

.carousel .carousel-inner {
    height:100%;    
}

.carousel-control-next, .carousel-control-prev {
    margin-top: 3rem;
}
    

/* Contact */

.contact-wrapper {
    font-family: 'Raleway' ,sans-serif;
    color: #fff;
    padding: 0;
}

fieldset {
    background-color: rgb(0, 0, 0);
    
}

legend {
    background-color: #ffffff;
    color: #000000;
    padding: 5px 10px;
    text-align: center;
    font-size: 30px;
}

input {
    margin: 0 auto;
    outline-color: #4a49497a;
    display: block;
    text-align: center;
    
}

.booking-inquiry {
    text-transform: uppercase;
    padding: 5px 15px;
    background-color: white;
    color: #000000;
    border: 1px solid white;
    margin-bottom: 1rem;
    
}

.contact-info, h1 {
    font-size: 30px;
}

.contact-info, h2 {
    font-size: 18px;
}

.contact-info {
    border: 2px solid black;
    margin: 30px;
}

/* Footer */

footer {
    height: 80px;  
}

.social-net {
    text-align: center;
}

.social-net li {
    display: inline;
    padding-right: 40px;
}

.social-net i {
    font-size: 200%;
    margin: 1%;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #000000;
}

/* Drinks.html page */

.vid-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
}
 
.vid-container video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vid-content {
    color: #ffffff;
    letter-spacing: 0.5rem;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.50);
    padding: 10px;
    margin-top: 100px;
    text-transform: uppercase;
    text-align: center;   
}

/* Smooth scroll to top snippet from code-boxx.com */

#backtop {
    /* (A) BOTTOM RIGHT CORNER */
    position: fixed;
    bottom: 20px; right: 20px;
    width: 3rem;
    z-index: 999;
  
    /* (B) HIDDEN BY DEFAULT */
    visibility: none;
    opacity: 0;
  
    /* (C) COSMETICS */
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  /* (D) SHOW BUTTON */
  #backtop.show {
    visibility: visible;
    opacity: 1;
  }


/* Media queries */


/* Media queries for landing section */

@media screen and (min-width:320px) and (max-width: 480px) {
    
    #cover-text {
        letter-spacing: 3px;
        padding-bottom: 5rem;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    #cover-text > p {
        padding-top: 1rem;
    }

    #bar-wrapper {
        width: 100vw;
        height: 100vh;
        background: url(../images/quiet-bar.jpg);
        background-size: cover;
        background-position: center, center;
    }

    #box-wrapper {
        width: auto;
        height: auto;
        font-size: small;
        margin-bottom: 0%;
    }

    /* Media queries for gallery carousel */
    .carousel-control-next {
        margin-top: 3rem;
    }
}

/* Media queries for about section */
@media screen and (min-width:480px) and (max-width: 768px) {


    /* Media queries for cover-text */
    #cover-text h2 {
        letter-spacing: normal;
        padding-bottom: 3rem;

    }

    #bar-wrapper {
        background-position: center center;
        background-size: cover;
    }

    #about {
        text-align: center;
    }
}

/* Media queries for master class "text" section */
@media screen and (min-width:200px) and (max-width: 768px) {
    .bannertext div{
        text-align: center;
        animation-name: bannertext;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-direction: alternate-reverse;
        animation-play-state: running;
        
    }
}